* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    text-decoration: none;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation  */
.main_nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main_nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main_nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */
.top_container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'showcase showcase top_box_a'
        'showcase showcase top_box_b';
    /* margin-bottom: 0; */

}

/* Showcase  */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(./image/web.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}


.showcase h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* Top Box */
.top_box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top_box .price {
    font-size: 2.5rem;
}

.top_box_a {
    grid-area: top_box_a;
}

.top_box_b {
    grid-area: top_box_b;
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info Section */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

.info div p {
    padding-bottom: 0.8rem;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */
footer {
    margin-top: 0;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1.3rem;
    box-shadow: var(--shadow);
}
